@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply font-roboto text-text-primary bg-background h-screen w-screen overflow-x-hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-euclid;
  }
}
